@charset "UTF-8";

@font-face {
  font-family: "chinamediaicons";
  src:url("fonts/chinamediaicons.eot");
  src:url("fonts/chinamediaicons.eot?#iefix") format("embedded-opentype"),
    url("fonts/chinamediaicons.woff") format("woff"),
    url("fonts/chinamediaicons.ttf") format("truetype"),
    url("fonts/chinamediaicons.svg#chinamediaicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chinamediaicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chinamediaicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baidu:before {
  content: "\61";
}
.icon-baidu-circle:before {
  content: "\62";
}
.icon-baidu-square:before {
  content: "\63";
}
.icon-dou-ban:before {
  content: "\64";
}
.icon-dou-ban-circle:before {
  content: "\65";
}
.icon-dou-ban-square:before {
  content: "\66";
}
.icon-kai-xin-wang:before {
  content: "\67";
}
.icon-kai-xin-wang-circle:before {
  content: "\68";
}
.icon-kai-xin-wang-square:before {
  content: "\69";
}
.icon-mitalk:before {
  content: "\6a";
}
.icon-mitalk-circle:before {
  content: "\6b";
}
.icon-mitalk-square:before {
  content: "\6c";
}
.icon-qq:before {
  content: "\6d";
}
.icon-qq-circle:before {
  content: "\6e";
}
.icon-qq-square:before {
  content: "\6f";
}
.icon-qzone:before {
  content: "\70";
}
.icon-qzone-circle:before {
  content: "\71";
}
.icon-qzone-square:before {
  content: "\72";
}
.icon-ren-ren:before {
  content: "\73";
}
.icon-ren-ren-circle:before {
  content: "\74";
}
.icon-ren-ren-square:before {
  content: "\75";
}
.icon-taobao:before {
  content: "\76";
}
.icon-taobao-circle:before {
  content: "\77";
}
.icon-taobao-square:before {
  content: "\78";
}
.icon-tencent-weibo:before {
  content: "\79";
}
.icon-tencent-weibo-circle:before {
  content: "\7a";
}
.icon-tencent-weibo-square:before {
  content: "\41";
}
.icon-watercress:before {
  content: "\42";
}
.icon-watercress-square:before {
  content: "\43";
}
.icon-watercress-circle:before {
  content: "\44";
}
.icon-wechat:before {
  content: "\45";
}
.icon-wechat-circle:before {
  content: "\46";
}
.icon-wechat-square:before {
  content: "\47";
}
.icon-weibo:before {
  content: "\48";
}
.icon-weibo-circle:before {
  content: "\49";
}
.icon-weibo-square:before {
  content: "\4a";
}
